/target

.cache
__pycache__/
site/

# Insta snapshots.
*.pending-snap

# JetBrains IDE
.idea

# Vscode IDE
.vscode

# macOS
**/.DS_Store

# profiling flamegraphs
*.flamegraph.svg

# NPM packages
npm-artifacts/
npm/.output/
